.bottomRow {
  // margin-top: -20px;
  // position: relative;
  // top: 0px;
  margin-top: -2%;
}
ion-col {
  padding-left: 2px;
  padding-right: 2px;
}
ion-card {
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: #008000;
}
.sc-ion-card-md-h {
  box-shadow: none !important;
}
.bottomRow2 {
  // margin-bottom: -5px;
  // float:left;
  margin-left: 10px;
}
h4 {
  margin-top: 0px;
}
img {
  border-radius: 10px;
  //background-color: #008000;
}
.special-bottom-button {
  // position: relative;
  // bottom:   -70px;
  // left: 5%;
  height: 30px;
  // margin-left: -10px;
  // float:bottom;
}
.special-my-button {
  height: 20px;
  width:70px;
  --background: green !important;
  color: yellow !important;
}
.my-alert-button{
  background-color: unset;
  button{
    color: red;
  }
}
.special-my-button1 {
  height: 20px;
  --background: #008000;
  color: yellow;
  // width:55px;
  // --background: green !important;
  // color: yellow !important;
}
// ion-button {
//   --color: yellow !important;
// }
.my-span {
  background-color: white !important;
  border-radius: 5px !important;
}
.span-win {
  background-color: white !important;
  color: red;
  float: left;
  font-size: 16px;
  font-weight: bold;
  padding-left: 3px;
}
.container {
  // margin-left:10px;
  font-size: 12px;
  display: grid;
  grid-template-columns: 110px 125px 145px 215px 120px;
  // margin-top: -5px;
  position: fixed;
  left: 5px;
  bottom: 0px;
  right: 0;
  // grid-template-rows: 50px 50px;
}
.special-span {
  margin-right: 40%;
}
.special-span2 {
  margin-left: 65%;
  // margin-top: -20px;
}
// ion-input{
//   position: relative;
//   top:0px;
// }
ion-grid {
  // margin-top:-5px;
  // position: relative;
  // bottom: 10px;
}
h4 {
  // margin-top:-1px;
}
