
<ion-content>
  
  <div style="background-color: #008000;vertical-align:middle;" >
    <BR>
    <h2 style="color: yellow; text-align: center;">HONEST</h2>
    <br>
    <h4 style="color: yellow; text-align: center;">Welcome : Parth</h4>
    

  
  <br>
  <!-- <ion-scroll scrollX="true"> -->
  <!-- <ion-row>   -->
  <ion-card shape="round" style="height:43%;width:50%;background-color:white ;">
    <br>
    <img src="assets/icon/1.jpeg" />
     <ion-card-content>
     <ion-item style="-moz-border-radius: 70px;
     -webkit-border-radius: 70px;
     border-radius: 20px;
     margin-bottom: 20px;"
     color="dark">
         <ion-input style="text-align: center;" type="text" value=""></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card shape="round" style="height: 43%;width: 50%;background-color:white ;">
    <br>
    <img src="assets/icon/2.jpeg" />
     <ion-card-content>
     <ion-item style="-moz-border-radius: 70px;
     -webkit-border-radius: 70px;
     border-radius: 20px;
     margin-bottom: 20px;"
     color="dark">
         <ion-input style="text-align: center;" type="text" value=""></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
  <ion-card shape="round" style="height: 43%;width: 50%;background-color:white ;">
    <br>
    <img src="assets/icon/3.jpeg" />
     <ion-card-content>
     <ion-item style="-moz-border-radius: 70px;
     -webkit-border-radius: 70px;
     border-radius: 20px;
     margin-bottom: 20px;"
     color="dark">
         <ion-input style="text-align: center;" type="text" value=""></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card shape="round" style="height: 43%;width: 50%;background-color:white ;">
    <br>
    <img src="assets/icon/4.jpeg" />
     <ion-card-content>
     <ion-item style="-moz-border-radius: 70px;
     -webkit-border-radius: 70px;
     border-radius: 20px;
     margin-bottom: 20px;"
     color="dark">
         <ion-input style="text-align: center;" type="text" value=""></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card shape="round" style="height: 43%;width: 50%;background-color:white ;">
    <br>
    <img src="assets/icon/5.jpeg" />
     <ion-card-content>
     <ion-item style="-moz-border-radius: 70px;
     -webkit-border-radius: 70px;
     border-radius: 20px;
     margin-bottom: 20px;"
     color="dark">
         <ion-input style="text-align: center;" type="text" value=""></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
  
 
    <br>
  
  <ion-button expand='block' shape="round"  color="danger" style="color:rgb(255, 38, 0);height:30px;" (click)="onpro()">
    <ion-icon name="nuclear"></ion-icon>&nbsp;Clear
  
  </ion-button>
 
  <ion-button expand='block' shape="round" color="dark"  style="color:lightskyblue;height:30px;" (click)="onChange()">
    <ion-icon name="filing"></ion-icon>&nbsp;Jackpot
    
  </ion-button>

  <ion-button expand='block' shape="round"  color="primary" style="color:yellow;height:30px;" (click)="onPurchased()">
    <ion-icon name="filing"></ion-icon>&nbsp;Double Jackpot
   
  </ion-button>


<ion-button expand='block' shape="round"  color="warning" style="color:black;height:30px;" (click)="onPurchased()">
  <ion-icon name="checkbox-outline"></ion-icon>&nbsp; Submit 
   
 </ion-button>

  <ion-button expand='block' shape="round"  color="tertiary" style="color:purple;height:30px;" (click)="onLogout()">
    <ion-icon name="exit"></ion-icon>&nbsp; Exit
    
  </ion-button>

<!-- </ion-row> -->
<!-- </ion-scroll> -->

 </div>

</ion-content>




