ion-col {
  //border: 3px solid #989aa2 !important;
  border: 0px solid #efeaea !important;
  background-color: #efeaea;
  //box-shadow: 5px 5px 5px #888 !important;
  border-radius: 10px !important;
}

.ion-label {
  text-align: center !important;
}

.ion-margin {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.display {
  background-color: lightgray;
  width: 40%;
  border-radius: 10px;
  padding-left: 10px;
}
.my-css{
  color: #008000;
}
.my-css-another{
  color: red($color: #ff0000);
}
.my-css-1{
  color: red($color: #ff0000) !important;
}