<ion-content color="honest">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" 
    pullingText="Pull to refresh" 
    pullFactor="1.2"
    refreshingText="Refreshing Content...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-button shape="round" color="tertiary" style="color:purple;height:30px; margin-left: 80%;" (click)="onExit()">
    <ion-icon name="exit"></ion-icon>Exit
  </ion-button>
  <ion-card *ngFor="let item of histories" style="background-color: white;color: black;">
    <ion-card-content>
      <ion-grid>
        <div *ngIf="item.CouponType==='Double Jackpot'; else elseBlock">
        <div *ngFor="let newitem of myIndex; index as i" >
          <ion-row *ngIf="i%10===0" align-items-center>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i]}}</ion-label>
              <div>
                <ion-label>{{item["txt"+myIndex[i]]}}</ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+1]}}</ion-label>
              <div>
                <ion-label>{{item["txt"+myIndex[i+1]]}}</ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+2]}}</ion-label>
              <div>
                <ion-label>{{item["txt"+myIndex[i+2]]}}</ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+3]}}</ion-label>
              <div>
                <ion-label>{{item["txt"+myIndex[i+3]]}}</ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+4]}}</ion-label>
              <div>
                <ion-label>{{item["txt"+myIndex[i+4]]}}</ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+5]}}</ion-label>
              <div>
                <ion-label>{{item["txt"+myIndex[i+5]]}}</ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+6]}}</ion-label>
              <div>
                <ion-label>{{item["txt"+myIndex[i+6]]}}</ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+7]}}</ion-label>
              <div>
                <ion-label>{{item["txt"+myIndex[i+7]]}}</ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+8]}}</ion-label>
              <div>
                <ion-label>{{item["txt"+myIndex[i+8]]}}</ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+9]}}</ion-label>
              <div>
                <ion-label>{{item["txt"+myIndex[i+9]]}}</ion-label>
              </div>
            </ion-col>
    
          </ion-row>
        </div>
      </div>
      <ng-template #elseBlock>
        <ion-row>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Shree</ion-label>
            <div>
              <ion-label>{{item.Shree?item.Shree:" "}}</ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label> Vashikaran</ion-label>
            <div>
              <ion-label>{{item.Shree?item.Vashikaran:" "}}</ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Sudarshan</ion-label>
            <div>
              <ion-label>{{item.Shree?item.Sudarshan:" "}}</ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Vastu</ion-label>
            <div>
              <ion-label>{{item.Vastu?item.Vastu:" "}}</ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Planet</ion-label>
            <div>
              <ion-label>{{item.Planet?item.Planet:" "}}</ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Love</ion-label>
            <div>
              <ion-label>{{item.Love?item.Love:" "}}</ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Tara</ion-label>
            <div>
              <ion-label>{{item.Tara?item.Tara:" "}}</ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Grah</ion-label>
            <div>
              <ion-label>{{item.Grah?item.Grah:" "}}</ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Matsya</ion-label>
            <div>
              <ion-label>{{item.Matsya?item.Matsya:" "}}</ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Meditation</ion-label>
            <div>
              <ion-label>{{item.Meditation?item.Meditation:" "}}</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ng-template>    
      </ion-grid>
      <div class="display">
        Total Yantra&nbsp;:&nbsp;{{item.CouponTotalNumber}}<br>
        Total Amount&nbsp;:&nbsp;{{item.CouponTotalAmount}}<br>
        Purchased On&nbsp;:&nbsp;{{item.CopuonCreateDate | date:'d-M-yyyy'}} &nbsp; {{item.CopuonCreateTime | myPipe}}<br>
        Date&nbsp;:&nbsp;{{item.DrawDate | date:'d-M-yyyy'}}<br>
        Draw Time&nbsp;:&nbsp;{{item.DrawTime | myPipe}}<br>
        <!-- Winning Yantra:{{}}<br> -->
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>