<ion-content color="honest">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" 
    pullingText="Pull to refresh" 
    pullFactor="1.2"
    refreshingText="Refreshing Content...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-button shape="round" color="tertiary" style="color:purple;height:30px; margin-left: 80%;" (click)="onExit()">
    <ion-icon name="exit"></ion-icon>Exit
  </ion-button>
  <div *ngIf="histories.length===0" style="color: #ff0000;">
    <h3>{{myTxt}}</h3>
  </div>
  <ion-card *ngFor="let item of histories" style="background-color: white;color: black;">
    <ion-card-content>
      <ion-grid>
        <div *ngIf="item.CouponType==='Double Jackpot'; else elseBlock">
        <div *ngFor="let newitem of myIndex; index as i" >
          <ion-row *ngIf="i%10===0" align-items-center>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i]}}</ion-label>
              <div>
                <ion-label [ngClass]="{'my-css': myEvaluater(item['txt'+myIndex[i]])}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i]])">(</ion-label>{{item["txt"+myIndex[i]]}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i]])">)</ion-label></ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+1]}}</ion-label>
              <div>
                <ion-label [ngClass]="{'my-css': myEvaluater(item['txt'+myIndex[i+1]])}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+1]])">(</ion-label>{{item["txt"+myIndex[i+1]]}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+1]])">)</ion-label></ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+2]}}</ion-label>
              <div>
                <ion-label [ngClass]="{'my-css': myEvaluater(item['txt'+myIndex[i+2]])}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+2]])">(</ion-label>{{item["txt"+myIndex[i+2]]}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+2]])">)</ion-label></ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+3]}}</ion-label>
              <div>
                <ion-label [ngClass]="{'my-css': myEvaluater(item['txt'+myIndex[i+3]])}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+3]])">(</ion-label>{{item["txt"+myIndex[i+3]]}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+3]])">)</ion-label></ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+4]}}</ion-label>
              <div>
                <ion-label [ngClass]="{'my-css': myEvaluater(item['txt'+myIndex[i+4]])}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+4]])">(</ion-label>{{item["txt"+myIndex[i+4]]}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+4]])">)</ion-label></ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+5]}}</ion-label>
              <div>
                <ion-label [ngClass]="{'my-css': myEvaluater(item['txt'+myIndex[i+5]])}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+5]])">(</ion-label>{{item["txt"+myIndex[i+5]]}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+5]])">)</ion-label></ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+6]}}</ion-label>
              <div>
                <ion-label [ngClass]="{'my-css': myEvaluater(item['txt'+myIndex[i+6]])}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+6]])">(</ion-label>{{item["txt"+myIndex[i+6]]}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+6]])">)</ion-label></ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+7]}}</ion-label>
              <div>
                <ion-label [ngClass]="{'my-css': myEvaluater(item['txt'+myIndex[i+7]])}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+7]])">(</ion-label>{{item["txt"+myIndex[i+7]]}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+7]])">)</ion-label></ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+8]}}</ion-label>
              <div>
                <ion-label [ngClass]="{'my-css': myEvaluater(item['txt'+myIndex[i+8]])}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+8]])">(</ion-label>{{item["txt"+myIndex[i+8]]}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+8]])">)</ion-label></ion-label>
              </div>
            </ion-col>
            <ion-col class="ion-margin" style="align-items: center; text-align: center;">
              <ion-label>{{myIndex[i+9]}}</ion-label>
              <div>
                <ion-label [ngClass]="{'my-css': myEvaluater(item['txt'+myIndex[i+9]])}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+9]])">(</ion-label>{{item["txt"+myIndex[i+9]]}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item['txt'+myIndex[i+9]])">)</ion-label></ion-label>
              </div>
            </ion-col>
    
          </ion-row>
        </div>
      </div>
      <ng-template #elseBlock>
        <ion-row>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Shree</ion-label>
            <div>
              <ion-label [ngClass]="{'my-css': myEvaluater(item.Shree)}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Shree)">(</ion-label>{{item.Shree?item.Shree:" "}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Shree)">)</ion-label></ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label> Vashikaran</ion-label>
            <div>
              <ion-label [ngClass]="{'my-css': myEvaluater(item.Vashikaran)}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Vashikaran)">(</ion-label>{{item.Vashikaran?item.Vashikaran:" "}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Vashikaran)">)</ion-label></ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Sudarshan</ion-label>
            <div>
              <ion-label [ngClass]="{'my-css': myEvaluater(item.Sudarshan)}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Sudarshan)">(</ion-label>{{item.Sudarshan?item.Sudarshan:" "}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Sudarshan)">)</ion-label></ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Vastu</ion-label>
            <div>
              <ion-label [ngClass]="{'my-css': myEvaluater(item.Vastu)}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Vastu)">(</ion-label>{{item.Vastu?item.Vastu:" "}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Vastu)">)</ion-label></ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Planet</ion-label>
            <div>
              <ion-label [ngClass]="{'my-css': myEvaluater(item.Planet)}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Planet)">(</ion-label>{{item.Planet?item.Planet:" "}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Planet)">)</ion-label></ion-label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Love</ion-label>
            <div>
              <ion-label [ngClass]="{'my-css': myEvaluater(item.Love)}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Love)">(</ion-label>{{item.Love?item.Love:" "}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Love)">)</ion-label></ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Tara</ion-label>
            <div>
              <ion-label [ngClass]="{'my-css': myEvaluater(item.Tara)}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Tara)">(</ion-label>{{item.Tara?item.Tara:" "}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Tara)">)</ion-label></ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Grah</ion-label>
            <div>
              <ion-label [ngClass]="{'my-css': myEvaluater(item.Grah)}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Grah)">(</ion-label>{{item.Grah?item.Grah:" "}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Grah)">)</ion-label></ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Matsya</ion-label>
            <div>
              <ion-label [ngClass]="{'my-css': myEvaluater(item.Matsya)}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Matsya)">(</ion-label>{{item.Matsya?item.Matsya:" "}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Matsya)">)</ion-label></ion-label>
            </div>
          </ion-col>
          <ion-col class="ion-margin" style="align-items: center; text-align: center;">
            <ion-label>Meditation</ion-label>
            <div>
              <ion-label [ngClass]="{'my-css': myEvaluater(item.Meditation)}"><ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Meditation)">(</ion-label>{{item.Meditation?item.Meditation:" "}}<ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="myEvaluater(item.Meditation)">)</ion-label></ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ng-template>    
      </ion-grid>
      <div class="display">
        Total Yantra&nbsp;:&nbsp;{{item.CouponTotalNumber}}<br>
        Total Amount&nbsp;:&nbsp;{{item.CouponTotalAmount}}<br>
        Purchased On&nbsp;:&nbsp;{{item.CopuonCreateDate | date:'d-M-yyyy'}} &thinsp; {{item.CopuonCreateTime | myPipe}}<br>
        Date&nbsp;:&nbsp;{{item.DrawDate | date:'d-M-yyyy'}} &thinsp; {{item.DrawTime | myPipe}}<br>
        <ion-label style="color: #ff0000 !important; font-weight: bold;" *ngIf="item.YantraId!==null">Winning Yantra&nbsp;:&nbsp;{{YantraArray[item.YantraId]}}</ion-label >
        <!-- Winning Yantra:{{}}<br> -->
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>