<div style="background-color: #008000; width: 100%; height: 100%;">
  <ion-button shape="round" color="tertiary" style="color:purple;height:30px; margin-left: 80%;" (click)="onExit()">
    <ion-icon name="exit"></ion-icon>Exit
  </ion-button>
  <ion-card style="color:white;">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            Shree
          </ion-col>
          <ion-col>
            Vashikaran
          </ion-col>
          <ion-col>
            Sudarashan
          </ion-col>
          <ion-col>
            Vastu
          </ion-col>
          <ion-col>
            Planet
          </ion-col>
         </ion-row>
        <ion-row>
          <ion-col>
            Love
          </ion-col>
          <ion-col>
            Tara
          </ion-col>
          <ion-col>
            Grah
          </ion-col>
          <ion-col>
            Matsya
          </ion-col>
          <ion-col>
            Meditation
          </ion-col>
         </ion-row>
         </ion-grid>
         <div>
           Total Yantra:<br>
           Total Amount:<br>
           Date:<br>
           Draw Time:<br>
         </div>
    </ion-card-content>
  </ion-card>
</div>