<ion-content >
  <div style="background-color: #008000; text-align: center;">
    <!-- <span style="margin-left: 30%;">
      &nbsp;&nbsp;ID : Parth&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;<span>&nbsp;&nbsp;BALANCE
      : 0 Rs.&nbsp;&nbsp;</span> -->
    <ion-button shape="round" color="tertiary" style="color:purple;height:30px; margin-left: 80%;" (click)="onExit()">
      <ion-icon name="exit"></ion-icon>Exit
    </ion-button>
    <!-- <div style="margin-right: -10px;"> -->
    <ion-grid class="grid" style="margin-left: 10px; margin-right: 10px;">
      <ion-row >
        <ion-col *ngFor="let item of histories">
          <ion-card  style="background-color: white; border-radius: 10px; width:130px;">
            <!-- <ion-card-header> -->
              <ion-card-subtitle>{{item.DrawDate}}</ion-card-subtitle>
              <ion-card-subtitle style="margin-top: -1px;">{{item.DrawTime}} </ion-card-subtitle>
            <!-- </ion-card-header> -->
            <!-- <ion-card-content> -->
              <img src="assets/icon/1.jpeg" style="height: 140px;" />
            <!-- </ion-card-content> -->
          </ion-card>
        </ion-col>
        <ion-col >
          <ion-card  style="background-color: white; border-radius: 10px; width:130px;">
            <!-- <ion-card-header> -->
              <ion-card-subtitle>02-Jan</ion-card-subtitle>
              <ion-card-subtitle style="margin-top: -1px;">07:30 PM </ion-card-subtitle>
            <!-- </ion-card-header> -->
            <!-- <ion-card-content> -->
              <img src="assets/icon/2.jpeg"  style="height: 140px;" />
            <!-- </ion-card-content> -->
          </ion-card>
        </ion-col>
        <ion-col >
          <ion-card  style="background-color: white; border-radius: 10px; width:130px;">
            <!-- <ion-card-header> -->
              <ion-card-subtitle>02-Jan</ion-card-subtitle>
              <ion-card-subtitle style="margin-top: -1px;">07:30 PM </ion-card-subtitle>
            <!-- </ion-card-header> -->
            <!-- <ion-card-content> -->
              <img src="assets/icon/3.jpeg"  style="height: 140px;" />
            <!-- </ion-card-content> -->
          </ion-card>

        </ion-col>
        <ion-col >
          <ion-card  style="background-color: white; border-radius: 10px; width:130px;">
            <!-- <ion-card-header> -->
              <ion-card-subtitle>02-Jan</ion-card-subtitle>
              <ion-card-subtitle style="margin-top: -1px;">07:30 PM </ion-card-subtitle>
            <!-- </ion-card-header> -->
            <!-- <ion-card-content> -->
              <img src="assets/icon/4.jpeg"  style="height: 140px;" />
            <!-- </ion-card-content> -->
          </ion-card>

        </ion-col>

        <ion-col >
          <ion-card style="background-color: white; border-radius: 10px; width:130px;">
            <!-- <ion-card-header> -->
              <ion-card-subtitle>02-Jan</ion-card-subtitle>
              <ion-card-subtitle style="margin-top: -1px;">07:30 PM </ion-card-subtitle>
            <!-- </ion-card-header> -->
            <!-- <ion-card-content> -->
              <img src="assets/icon/5.jpeg"  style="height: 140px;" />
            <!-- </ion-card-content> -->
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -15px;">
        <ion-col >
          <ion-card  style="background-color: white; border-radius: 10px; width:130px;">
            <!-- <ion-card-header> -->
              <ion-card-subtitle>02-Jan</ion-card-subtitle>
              <ion-card-subtitle style="margin-top: -1px;">07:30 PM </ion-card-subtitle>
            <!-- </ion-card-header> -->
            <!-- <ion-card-content> -->
              <img src="assets/icon/6.jpeg"  style="height: 140px;" />
            <!-- </ion-card-content> -->
          </ion-card>

        </ion-col>
        <ion-col >
          <ion-card  style="background-color: white; border-radius: 10px; width:130px;">
            <!-- <ion-card-header> -->
              <ion-card-subtitle>02-Jan</ion-card-subtitle>
              <ion-card-subtitle style="margin-top: -1px;">07:30 PM </ion-card-subtitle>
            <!-- </ion-card-header> -->
            <!-- <ion-card-content> -->
              <img src="assets/icon/7.jpeg"  style="height: 140px;" />
            <!-- </ion-card-content> -->
          </ion-card>

        </ion-col>
        <ion-col >
          <ion-card  style="background-color: white; border-radius: 10px; width:130px;">
            <!-- <ion-card-header> -->
              <ion-card-subtitle>02-Jan</ion-card-subtitle>
              <ion-card-subtitle style="margin-top: -1px;">07:30 PM </ion-card-subtitle>
            <!-- </ion-card-header> -->
            <!-- <ion-card-content> -->
              <img src="assets/icon/8.jpeg"  style="height: 140px;" />
            <!-- </ion-card-content> -->
          </ion-card>

        </ion-col>
        <ion-col >
          <ion-card  style="background-color: white; border-radius: 10px; width:130px;">
            <!-- <ion-card-header> -->
              <ion-card-subtitle>02-Jan</ion-card-subtitle>
              <ion-card-subtitle style="margin-top: -1px;">07:30 PM </ion-card-subtitle>
            <!-- </ion-card-header> -->
            <!-- <ion-card-content> -->
              <img src="assets/icon/9.jpeg"  style="height: 140px;" />
            <!-- </ion-card-content> -->
          </ion-card>

        </ion-col>
        <ion-col >
          <ion-card  style="background-color: white; border-radius: 10px; width:130px;">
            <!-- <ion-card-header> -->
              <ion-card-subtitle>02-Jan</ion-card-subtitle>
              <ion-card-subtitle style="margin-top: -1px;">07:30 PM </ion-card-subtitle>
            <!-- </ion-card-header> -->
            <!-- <ion-card-content> -->
              <img src="assets/icon/10.jpeg"  style="height: 140px;" />
            <!-- </ion-card-content> -->
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- </div> -->
  </div>
</ion-content>















<!-- 
<ion-content>
  <div style="background-color: #008000 !important;text-align: center;vertical-align:middle;">
    <BR>
    <h2 style="color: yellow;">HONEST</h2>
    <br>
    <h4 style="color: yellow;">Welcome : Parth</h4>
    <h4 style="color: yellow;">Balance : Rs.</h4>

  
  <br>
  <ion-button expand='block' shape="round"  color="danger" style="color:rgb(255, 38, 0);height:30px;text-align: right;" (click)="onExit()">
    Exit&nbsp;&nbsp;
    <ion-icon name="exit"></ion-icon>
  </ion-button>
  <ion-card shape="round" style="height:43%;width:50%;background-color:white ;">
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;">02-jan</ion-card-subtitle>
      <ion-card-subtitle style="text-align: center;">2:00 PM</ion-card-subtitle>
    </ion-card-header>
   
    <img src="assets/icon/1.jpeg"  style="height: 140px;" />
    
  
  </ion-card>
  

  <ion-card shape="round" style="height: 43%;width: 50%;background-color:white ;">
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;">02-Jan</ion-card-subtitle>
      <ion-card-subtitle style="text-align: center;">2:00 PM</ion-card-subtitle>
    </ion-card-header>
    
    <img src="assets/icon/2.jpeg"  style="height: 140px;" />
  
  </ion-card>
  

 <br>

 </div>
</ion-content>

 -->