<ion-content >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" 
    pullingText="Pull to refresh" 
    pullFactor="1.2"
    refreshingText="Refreshing Content...">
    </ion-refresher-content>
  </ion-refresher>
  <div style="background-color: #008000; text-align: center;">
    <!-- <span style="margin-left: 30%;">
      &nbsp;&nbsp;ID : Parth&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;<span>&nbsp;&nbsp;BALANCE
      : 0 Rs.&nbsp;&nbsp;</span> -->
    <ion-button shape="round" color="tertiary" style="color:rgb(236, 214, 236);height:30px; margin-left: 80%;" (click)="onExit()">
      <ion-icon name="exit"></ion-icon>Exit
    </ion-button>
    <!-- <div style="margin-right: -10px;"> -->
    <ion-grid class="grid" style="margin-left: 10px; margin-right: 10px;">
      <div *ngFor="let item of histories;let i=index;">
        <ion-row *ngIf="i%5===0"  style="margin-top: -15px;">
          <ion-col>
            <ion-card  *ngIf="i<histories.length" style="background-color: white; border-radius: 10px; width:130px;">
                <ion-card-subtitle>{{histories[i].DrawDate}}</ion-card-subtitle>
                <ion-card-subtitle style="margin-top: -1px;">{{histories[i].DrawTime |myPipe}} </ion-card-subtitle>
                <!-- <img src="assets/icon/{{histories[i].YantraImage}}" style="height: 140px;" /> -->
                <div  *ngIf="histories[i].DrawType==='Jackpot'"  >
                  <img src="assets/icon/jp.png"style="height: 123px;" />
                  <ion-label>{{item.YantraName}}</ion-label>
                </div>
                <div  *ngIf="histories[i].DrawType==='3Jackpot'"  >
                  <img src="assets/icon/3jp.png"style="height: 123px;" />
                  <ion-label>{{item.YantraName}}</ion-label>
                </div>
                <div  *ngIf="histories[i].DrawType==='Normal'"  >
                  <img src="assets/icon/{{histories[i].YantraImage}}" style="height: 140px;" />
                </div>
                
                <!-- <img src="assets/icon/3jp.png" *ngIf="histories[i].DrawType==='3Jackpot'" style="height: 140px;" />
                
                <img src="assets/icon/{{histories[i].YantraImage}}"  *ngIf="histories[i].DrawType==='Normal'" style="height: 140px;" /> -->
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card  *ngIf="i+1<histories.length" style="background-color: white; border-radius: 10px; width:130px;">
                <ion-card-subtitle>{{histories[i+1].DrawDate}}</ion-card-subtitle>
                <ion-card-subtitle style="margin-top: -1px;">{{histories[i+1].DrawTime |myPipe}}</ion-card-subtitle> 
                <!-- <img src="assets/icon/{{histories[i+1].YantraImage}}" style="height: 140px;" /> -->
                <!-- <img src="assets/icon/jp.png" *ngIf="histories[i+1].DrawType==='Jackpot'"  style="height: 140px;" />
                <img src="assets/icon/3jp.png" *ngIf="histories[i+1].DrawType==='3Jackpot'" style="height: 140px;" />
                <img src="assets/icon/{{histories[i+1].YantraImage}}"  *ngIf="histories[i+1].DrawType==='Normal'" style="height: 140px;" /> -->
                <div  *ngIf="histories[i+1].DrawType==='Jackpot'"  >
                  <img src="assets/icon/jp.png"style="height: 123px;" />
                  <ion-label>{{item.YantraName}}</ion-label>
                </div>
                <div  *ngIf="histories[i+1].DrawType==='3Jackpot'"  >
                  <img src="assets/icon/3jp.png"style="height: 123px;" />
                  <ion-label>{{item.YantraName}}</ion-label>
                </div>
                <div  *ngIf="histories[i+1].DrawType==='Normal'"  >
                  <img src="assets/icon/{{histories[i+1].YantraImage}}" style="height: 140px;" />
                </div>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card  *ngIf="i+2<histories.length"  style="background-color: white; border-radius: 10px; width:130px;">
                <ion-card-subtitle>{{histories[i+2].DrawDate}}</ion-card-subtitle>
                <ion-card-subtitle style="margin-top: -1px;">{{histories[i+2].DrawTime |myPipe}} </ion-card-subtitle>
                <!-- <img src="assets/icon/jp.png" *ngIf="histories[i+2].DrawType==='Jackpot'"  style="height: 140px;" />
                <img src="assets/icon/3jp.png" *ngIf="histories[i+2].DrawType==='3Jackpot'" style="height: 140px;" />
                <img src="assets/icon/{{histories[i+2].YantraImage}}"  *ngIf="histories[i+2].DrawType==='Normal'" style="height: 140px;" /> -->
                <div  *ngIf="histories[i+2].DrawType==='Jackpot'"  >
                  <img src="assets/icon/jp.png"style="height: 123px;" />
                  <ion-label>{{item.YantraName}}</ion-label>
                </div>
                <div  *ngIf="histories[i+2].DrawType==='3Jackpot'"  >
                  <img src="assets/icon/3jp.png"style="height: 123px;" />
                  <ion-label>{{item.YantraName}}</ion-label>
                </div>
                <div  *ngIf="histories[i+2].DrawType==='Normal'"  >
                  <img src="assets/icon/{{histories[i+2].YantraImage}}" style="height: 140px;" />
                </div>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card *ngIf="i+3<histories.length"  style="background-color: white; border-radius: 10px; width:130px;">
                <ion-card-subtitle>{{histories[i+3].DrawDate}}</ion-card-subtitle>
                <ion-card-subtitle style="margin-top: -1px;">{{histories[i+3].DrawTime |myPipe}} </ion-card-subtitle>
                <!-- <img src="assets/icon/{{histories[i+3].YantraImage}}" style="height: 140px;" /> -->
                <!-- <img src="assets/icon/jp.png" *ngIf="histories[i+3].DrawType==='Jackpot'"  style="height: 140px;" />
                <img src="assets/icon/3jp.png" *ngIf="histories[i+3].DrawType==='3Jackpot'" style="height: 140px;" />
                <img src="assets/icon/{{histories[i+3].YantraImage}}"  *ngIf="histories[i+3].DrawType==='Normal'" style="height: 140px;" /> -->
                <div  *ngIf="histories[i+3].DrawType==='Jackpot'"  >
                  <img src="assets/icon/jp.png"style="height: 123px;" />
                  <ion-label>{{item.YantraName}}</ion-label>
                </div>
                <div  *ngIf="histories[i+3].DrawType==='3Jackpot'"  >
                  <img src="assets/icon/3jp.png"style="height: 123px;" />
                  <ion-label>{{item.YantraName}}</ion-label>
                </div>
                <div  *ngIf="histories[i+3].DrawType==='Normal'"  >
                  <img src="assets/icon/{{histories[i+3].YantraImage}}" style="height: 140px;" />
                </div>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card *ngIf="i+4<histories.length" style="background-color: white; border-radius: 10px; width:130px;">
                <ion-card-subtitle>{{histories[i+4].DrawDate}}</ion-card-subtitle>
                <ion-card-subtitle style="margin-top: -1px;">{{histories[i+4].DrawTime |myPipe}} </ion-card-subtitle>
                <!-- <img src="assets/icon/{{histories[i+4].YantraImage}}" style="height: 140px;" /> -->
                <!-- <img src="assets/icon/jp.png" *ngIf="histories[i+4].DrawType==='Jackpot'"  style="height: 140px;" />
                <img src="assets/icon/3jp.png" *ngIf="histories[i+4].DrawType==='3Jackpot'" style="height: 140px;" />
                <img src="assets/icon/{{histories[i+4].YantraImage}}"  *ngIf="histories[i+4].DrawType==='Normal'" style="height: 140px;" /> -->
                <div  *ngIf="histories[i+4].DrawType==='Jackpot'"  >
                  <img src="assets/icon/jp.png"style="height: 123px;" />
                  <ion-label>{{item.YantraName}}</ion-label>
                </div>
                <div  *ngIf="histories[i+4].DrawType==='3Jackpot'"  >
                  <img src="assets/icon/3jp.png"style="height: 123px;" />
                  <ion-label>{{item.YantraName}}</ion-label>
                </div>
                <div  *ngIf="histories[i+4].DrawType==='Normal'"  >
                  <img src="assets/icon/{{histories[i+4].YantraImage}}" style="height: 140px;" />
                </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
</ion-content>  
  <!-- <ion-row *ngFor="let item of histories;let i=index;">  -->
        <!-- <ion-col> -->
          <!-- <ion-card  style="background-color: white; border-radius: 10px; width:130px;"> -->
            <!-- <ion-card-header> -->
               <!-- <ion-card-subtitle>{{item.DrawDate}}</ion-card-subtitle> -->
              <!-- <ion-card-subtitle style="margin-top: -1px;">{{item.DrawTime}} </ion-card-subtitle> -->
            <!-- </ion-card-header> -->
            <!-- <ion-card-content> -->
              <!-- <img src="assets/icon/1.jpeg" style="height: 140px;" /> -->
            <!-- </ion-card-content> -->
          <!-- </ion-card> -->
        <!-- </ion-col>      -->
      <!-- </ion-row> -->
      
    
    <!-- </div> -->
  









<!-- <ion-col > -->
  <!-- <ion-card  style="background-color: white; border-radius: 10px; width:130px;"> -->
    <!-- <ion-card-header> -->
      <!-- <ion-card-subtitle>02-Jan</ion-card-subtitle> -->
      <!-- <ion-card-subtitle style="margin-top: -1px;">07:30 PM </ion-card-subtitle> -->
    <!-- </ion-card-header> -->
    <!-- <ion-card-content> -->
      <!-- <img src="assets/icon/2.jpeg"  style="height: 140px;" /> -->
    <!-- </ion-card-content> -->
  <!-- </ion-card> -->
<!-- </ion-col> -->
<!-- <ion-col > -->
  <!-- <ion-card  style="background-color: white; border-radius: 10px; width:130px;"> -->
    <!-- <ion-card-header> -->
      <!-- <ion-card-subtitle>02-Jan</ion-card-subtitle> -->
      <!-- <ion-card-subtitle style="margin-top: -1px;">07:30 PM </ion-card-subtitle> -->
    <!-- </ion-card-header> -->
    <!-- <ion-card-content> -->
      <!-- <img src="assets/icon/3.jpeg"  style="height: 140px;" /> -->
    <!-- </ion-card-content> -->
  <!-- </ion-card> -->

<!-- </ion-col> -->
<!-- <ion-col > -->
  <!-- <ion-card  style="background-color: white; border-radius: 10px; width:130px;"> -->
    <!-- <ion-card-header> -->
      <!-- <ion-card-subtitle>02-Jan</ion-card-subtitle> -->
      <!-- <ion-card-subtitle style="margin-top: -1px;">07:30 PM </ion-card-subtitle> -->
    <!-- </ion-card-header> -->
    <!-- <ion-card-content> -->
      <!-- <img src="assets/icon/4.jpeg"  style="height: 140px;" /> -->
    <!-- </ion-card-content> -->
  <!-- </ion-card> -->

<!-- </ion-col> -->

<!-- <ion-col > -->
  <!-- <ion-card style="background-color: white; border-radius: 10px; width:130px;"> -->
    <!-- <ion-card-header> -->
      <!--  <ion-card-subtitle>02-Jan</ion-card-subtitle> -->
      <!--  <ion-card-subtitle style="margin-top: -1px;">07:30 PM </ion-card-subtitle> -->
    <!-- </ion-card-header> -->
    <!-- <ion-card-content> -->
      <!-- <img src="assets/icon/5.jpeg"  style="height: 140px;" /> -->
    <!-- </ion-card-content> -->
  <!-- </ion-card> -->
<!-- </ion-col> -->





<!-- 
<ion-content>
  <div style="background-color: #008000 !important;text-align: center;vertical-align:middle;">
    <BR>
    <h2 style="color: yellow;">HONEST</h2>
    <br>
    <h4 style="color: yellow;">Welcome : Parth</h4>
    <h4 style="color: yellow;">Balance : Rs.</h4>

  
  <br>
  <ion-button expand='block' shape="round"  color="danger" style="color:rgb(255, 38, 0);height:30px;text-align: right;" (click)="onExit()">
    Exit&nbsp;&nbsp;
    <ion-icon name="exit"></ion-icon>
  </ion-button>
  <ion-card shape="round" style="height:43%;width:50%;background-color:white ;">
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;">02-jan</ion-card-subtitle>
      <ion-card-subtitle style="text-align: center;">2:00 PM</ion-card-subtitle>
    </ion-card-header>
   
    <img src="assets/icon/1.jpeg"  style="height: 140px;" />
    
  
  </ion-card>
  

  <ion-card shape="round" style="height: 43%;width: 50%;background-color:white ;">
    <ion-card-header>
      <ion-card-subtitle style="text-align: center;">02-Jan</ion-card-subtitle>
      <ion-card-subtitle style="text-align: center;">2:00 PM</ion-card-subtitle>
    </ion-card-header>
    
    <img src="assets/icon/2.jpeg"  style="height: 140px;" />
  
  </ion-card>
  

 <br>

 </div>
</ion-content>

 -->