<!-- <ion-content> -->
  <div style="background-color: #008000!important;height:100%;width:100%;text-align: center;vertical-align:middle;">
    <ion-grid>
      <ion-row justify-content-center align-items-center style='height: 100%; margin-top: 40%;'>
        <h4><span>&nbsp;ID : {{userName}}&nbsp;&nbsp;</span></h4>
      </ion-row>
      <ion-row justify-content-center align-items-center style='height: 100%;'>
        
      <!-- <ion-col col-2></ion-col>  -->
      <ion-col> 
    <h3>&nbsp;Reset Password</h3>
      </ion-col></ion-row>
      
    <ion-row justify-content-center align-items-center style='height: 100%; margin-top: 20%;'>
      <form [formGroup]="changeForm">
      <ion-col>
        <ion-item color="#008000">
          <ion-input [clearInput]="true" formControlName="oldPassword" id="oldPassword" style="font-size:17px; color:white;" placeholder=" Old Password" type="password"
            [required]="true"></ion-input>
        </ion-item>
        
        <ion-item color="#008000">
          <ion-input [clearInput]="true" formControlName="newPassword" id="newPassword" style="font-size:17px; color:white;" placeholder="New Password" type="password"
            [required]="true"></ion-input>
        </ion-item>
        
        <ion-item color="#008000">
          <ion-input [clearInput]="true" formControlName="confirmNewPassword" id="confirmNewPassword" style="font-size:17px; color:white;" placeholder="Confirm Password" type="password"
            [required]="true"></ion-input>
        </ion-item>
       <br>
        <ion-button  [disabled]="!changeForm.valid" color="danger" style="color:rgb(255, 38, 0);height:30px;" type="submit" (click)="onClick()">
          Change&nbsp;&nbsp;
          <ion-icon name="Send"></ion-icon>
        </ion-button>
        <ion-button   color="primary" style="color:rgb(255, 38, 0);height:30px;" type="reset" (click)="onExit()">
          Cancel&nbsp;&nbsp;
          <ion-icon name="close-circle"></ion-icon>
        </ion-button>
        
  </ion-col>
</form>
</ion-row>
</ion-grid>

    
</div>
<!-- </ion-content> -->


