<ion-content>
  <div style="background-color: #008000!important;height:100%;width:100%;text-align: center;vertical-align:middle;">
    <BR>
    <h2 style="color: yellow;">HONEST</h2>
    <br>
    <h4 style="color: yellow;">Welcome : Parth</h4>

  
  <br>

  <ion-button expand='block' shape="round"  color="danger" style="color:rgb(255, 38, 0);height:30px;" (click)="onpro()">
    <ion-icon name="albums"></ion-icon>&nbsp;Program
  
  </ion-button>
 <br>
  <ion-button expand='block' shape="round" color="dark"  style="color:lightskyblue;height:30px;" (click)="onChange()">
    <ion-icon name="checkbox-outline"></ion-icon>&nbsp;Change Password
    
  </ion-button>
<br>
  <ion-button expand='block' shape="round"  color="primary" style="color:yellow;height:30px;" (click)="onPurchased()">
    <ion-icon name="filing"></ion-icon>&nbsp;Purchased History 
   
  </ion-button>
<br>

<ion-button expand='block' shape="round"  color="warning" style="color:black;height:30px;" (click)="onPurchased()">
  <ion-icon name="filing"></ion-icon>&nbsp; Last Draw 
   
 </ion-button>
<br>
  <ion-button expand='block' shape="round"  color="tertiary" style="color:purple;height:30px;" (click)="onLogout()">
    <ion-icon name="exit"></ion-icon>&nbsp;  Log Out
    
  </ion-button>

 </div>
</ion-content>


