  <div style="background-color: #008000!important;height:100%;width:100%;text-align: center;">
    <ion-grid>
      <ion-row justify-content-center align-items-center style='height: 100%; margin-top: 10%;'>
        <ion-col>
          <h3 style="color: white;">Welcome : {{userName}}</h3>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center align-items-center style='height: 100%; margin-top: 40%;'>
      <!-- <ion-col col-2></ion-col>  -->
      <ion-col> 
    
  <ion-button class="special-ion-button" expand='block'   color="danger" style="color:rgb(255, 38, 0);height:30px;" (click)="onpro()">
    <ion-icon name="albums"></ion-icon>&nbsp;Program
  
  </ion-button>
 <br>
  <ion-button class="special-ion-button" expand='block'  color="dark"  style="color:lightskyblue;height:30px;" (click)="onChange()">
    <ion-icon name="checkbox-outline"></ion-icon>&nbsp;Change Password
    
  </ion-button>
<br>
  <ion-button class="special-ion-button" expand='block'   color="primary" style="color:yellow;height:30px;" (click)="onPurchased()">
    <ion-icon name="filing"></ion-icon>&nbsp;Purchased History 
   
  </ion-button>
<br>
<ion-button class="special-ion-button" expand='block'  color="warning" style="color:black;height:30px;" (click)="onPurchased()">
  <ion-icon name="filing"></ion-icon>&nbsp; Last Draw 
   
 </ion-button>
<br>
  <ion-button class="special-ion-button" expand='block'   color="tertiary" style="color:purple;height:30px;" (click)="onLogout()">
    <ion-icon name="exit"></ion-icon>&nbsp;  Log Out
    
  </ion-button>
</ion-col>    
<!-- <ion-col col-3></ion-col> -->
</ion-row>
</ion-grid>
 </div>


