  <div class="center-class" style=" background-color:#008000 !important;height:100%;width:100%;">
    
    <!-- <h2 style="color: yellow;">HONEST</h2>  
    <h3>&nbsp;Log In to Your Account</h3>
         <ion-item color="#008000">
          <ion-input  style="font-size:17px; color:white;" placeholder="Email Id" type="text" [(ngModel)]="name" [required]="true"></ion-input>
        </ion-item>
        <br>
        <ion-item color="#008000" >
          <ion-input  style="font-size:17px; color:white;" [clearInput]="true"  placeholder="Password" type="password" [(ngModel)]="password"
            [required]="true"></ion-input>
        </ion-item>
       <br>
        <ion-button expand="block" color="danger" style="color:rgb(255, 38, 0);height:30px;" (click)="onClick()">
          Log In&nbsp;&nbsp;
          <ion-icon name="Send"></ion-icon>
        </ion-button> -->
        <ion-grid>
          <ion-row justify-content-center align-items-center style='height: 100%; text-align: center; margin-bottom: 40%;'><ion-col><h1 style="color: yellow;">HONEST</h1> </ion-col></ion-row>
          <ion-row justify-content-center align-items-center style='height: 100%; margin-bottom: 90%; text-align: center;'>
          
          <!-- <ion-col col-2></ion-col>  -->
          <ion-col>   
            <h3>&nbsp;Log In</h3>
                 <ion-item color="#008000">
                  <ion-input  style="font-size:17px; color:white;" placeholder="Email Id" type="text" [(ngModel)]="name" [required]="true"></ion-input>
                </ion-item>
                <br>
                <ion-item color="#008000" >
                  <ion-input  style="font-size:17px; color:white;" [clearInput]="true"  placeholder="Password" type="password" [(ngModel)]="password"
                    [required]="true"></ion-input>
                </ion-item>
               <br>
                <ion-button class="special-ion-button" expand="block" color="danger" style="color:rgb(255, 38, 0);height:30px;" (click)="onClick()">
                  Log In&nbsp;&nbsp;
                  <ion-icon name="Send"></ion-icon>
                </ion-button>
              </ion-col>    
          <!-- <ion-col col-3></ion-col> -->
          </ion-row>
          </ion-grid>
</div>