<ion-content>
  <div style="background-color:#008000 !important;height:100%;width:100%;text-align: center;vertical-align:middle;">
    <BR>
    <h2 style="color: yellow;">HONEST</h2>

  
  <br>
  
    
    <h4>&nbsp;Log In to Your Account</h4>
    
      <br>
      
         <ion-item color="#008000">
          <ion-input    placeholder="Email Id" type="text" [(ngModel)]="name" [required]="true"></ion-input>
        </ion-item>
        <br>
        <ion-item color="#008000" >
          <ion-input [clearInput]="true"  placeholder="Password" type="password" [(ngModel)]="password"
            [required]="true"></ion-input>
        </ion-item>
       <br>
        <ion-button expand='block' shape="round"  color="danger" style="color:rgb(255, 38, 0);height:30px;" (click)="onClick()">
          Log In&nbsp;&nbsp;
          <ion-icon name="Send"></ion-icon>
        </ion-button>
        
  
      
      
   
</div>
</ion-content>

